.cropped-image {
	width: 100px;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
  }
  
.cropped-image img {
	max-width: 100px;
	min-height: 100%;
	min-width: 100%;
  }

body{
    padding: 40px;
    left:30px;
}

h1{
    width: 25%;
    padding: 20px;
    margin: 0 auto;
}

div{
    padding: 10px;
}

button{
    margin:20px;
}

.btn{
    margin: 0 auto;
    padding: 5px;
}

footer{
    left: 100px;
}
nav{
    top: -60px;
    left: -50px;
    width: 120%;
}
