<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
	body{font-size: {{ user.font }}px;}
</style>
	<p>Hi {{ user.username }}!</p>
	<div class="avatar">
		<h2>Avatar:</h2>
			{% if user.avatar %}
				<img src="{{ user.avatar.url }}" alt="Avatar">
			{% endif %}
	</div>
	<div class="details">
		<h2>Details:</h2>
		<p><strong>Username:</strong> {{ user.username }}</p>
		<p><strong>Email:</strong> {{ user.email }}</p>
		<p><strong>Language:</strong> {{ user.language }}</p>
	</div>
	<form action="{% url 'logout' %}" method="post">
		{% csrf_token %}
		<button type="submit">Log Out</button>
	</form>
{% else %}
		<p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a> |
	<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}